/* CSS files add styling rules to your content */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container {
  display: flex;
  justify-content: space-between;
}
body{
    background-image: url("https://img.88tph.com/production/20180510/12522298-1.jpg!/watermark/url/L3BhdGgvbG9nby5wbmc/align/center");
 background-color: #cccccc;
    text-align:center;}
h1{
    font-family: 'Monoton', cursive;
    color:blue;
    font-size:45px;
    text-align:center;
    border: 15px groove Moccasin;
    }
h1{
font-family: 'Sansita Swashed', cursive;
  }
h1{font-family: 'Sansita Swashed', cursive;
}
h2{
  color:blue  
}
h3{
  color:blue
}
h4{
  color:blue
}
img1{
    padding:0px;
    width:300px;
    border:20px dotted Moccasin;
}
h1 {
  text-shadow: 2px 2px red;
}
button{
    background:lightblue;
    margin:10px;
    border:5px solid Moccasin;
    padding:5px;
}
p{
 color:pink; 
}
